
<div style="margin:110px 80px;">
@section LeftSide{
    <h4>Some Advertising ...</h4>
}

@{
    string? description = (string)ViewData["Desc"];
}

<div class="text-center">
    <h4>
       @description
    </h4>
</div>
</div>
