@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    <h2>
        Hello Dear!
    </h2>
    <p>
        Project Consist of three Parts
        <ul>
            <ol>
                <h4>Core Project ==> Class Library Contain </h4>
                <h6>Entities (Models) and Interfaces </h6>
            </ol>
            <ol>
                <h4>Infrastrucre Project ==> Class Library Contain</h4>
                <h6>1- Implemntation of Repository and Unit Of Work </h6>

                <h6> 2- Seeding Data</h6>
                <h6>3- Models Conguration </h6>
                <h6>4- Relation Mapper (Fluent API)</h6>
                <h6>Context</h6>

            </ol>
            <ol>
                <h4>Front Project ==> Web Project Contain</h4>
                <h6>Context</h6>
                <h6>1- Static Files</h6>
                <h6>2- Controllers</h6>
                <h6>3- ViewModels</h6>
                <h6>4- Views</h6>
               
            </ol>
        </ul>
    </p>
}
